<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/auth/logout">Logout</a>
    </nav>
  </header>
  <main>
    %= body %>
  </main>
</body>
</html>
